.card-title {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card img {
	aspect-ratio: 6 / 7;
	object-fit: contain;
}

.text-not-decoration {
	text-decoration: none;
}