.products-search-form {
	margin-top: 0.5rem;
	margin-right: 0;
	margin-left: 0;
}

@media (min-width: 576px) {
	.products-search-form {
		margin-top: 0.5rem !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

@media (min-width: 768px) {
	.products-search-form {
		margin-top: 0.5rem !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

@media (min-width: 992px) {
	.products-search-form {
		margin-top: 0 !important;
		margin-right: 0 !important;
		margin-left: 7rem !important;
	}
}

@media (min-width: 1200px) {
	.products-search-form {
		margin-top: 0 !important;
		margin-right: 3rem !important;
		margin-left: 11rem !important;
	}
}

@media (min-width: 1400px) {
	.products-search-form {
		margin-top: 0 !important;
		margin-right: 7rem !important;
		margin-left: 13rem !important;
	}
}