<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment('商品一覧',~{::link},~{})}">
	<!-- このページ固有で読み込むCSS/JS -->
	<link th:href="@{/css/admin/index.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="~{common/header :: header_fragment}"></div>
	<!-- --------------------------- -->
	<!-- main -->
	<main>
		<div class="d-flex justify-content-center">
			<div class="alert alert-dismissible alert-success mt-5">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				商品を登録しました
			</div>
		</div>
		<h3 class="text-center mt-5">商品一覧</h3>
		<div class="px-5 py-5">
			<div class="container-fluid">
				<div class="row">
					<!-- <h4 class="text-center">現在商品が登録されていません。<br />商品登録画面から商品を登録してください。</h4> -->
					<div th:each="product : ${producs}" class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 py-3">
						<a class="text-not-decoration" href="product-change.html">
							<div class="card">
								<img class="bg-light" th:src="@{/img/no_image.png}" alt="">
								<div class=" card-body">
									<h5 class="card-title">[[${product.name}]]</h5>
									<p class="card-text">¥[[${product.amount}]]</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{common/footer :: footer_fragment}"></div>

</body>

</html>